<div id="app">
  <app-settings (pubsAdded)="onPubsAdded($event)" (isMenuOpen)="onSidenavClick()" (indexAdded)="onIndexAdded($event)"
    (PopulationAdded)="onPopulationAdded($event)">
  </app-settings>

<mat-sidenav-container>

  <mat-sidenav mode="side" [(opened)]="isMenuOpen" class="sidenav" (click)="onSidenavClick()">
    <h1>
    
      Childcare Infrastructure in Baden-Württemberg
  

    </h1>

    Created by Wiebke Baumann, Nele Hapig and Elena Putilova
   
    <h2>
      <br>
      
      Childcare Index:
   
      </h2>
      
      
      <span class="Legend-colorBox" style="background-color: #1E8445">
      </span>
      <span class="Legend-label">
       
        not overcrowded
      </span>
      <br>
      <span class="Legend-colorBox" style="background-color: #41d97b;">
      </span>
      <span class="Legend-label">
        slightly overcrowded
      </span>
      <br>
      <span class="Legend-colorBox" style="background-color: #ede657;">
      </span>
      <span class="Legend-label">
        medium overcrowded
      </span>
      <br>
      <span class="Legend-colorBox" style="background-color: #f55433;">
      
      </span>
      
      <span class="Legend-label">
        strongly overcrowded
      </span>
      <br>
      <span class="Legend-colorBox" style="background-color: #ba0707;">
      
      </span>
      <span class="Legend-label">
        No kindergartens
      </span>
     
      <br>
      
      <h2>
       
        Data sources
     
      </h2>
      <h3>
      
        Kindergarten Data:
      
      </h3>
      
      - Geo-Data by Openstreetmap.org 
      <br>
      - N = 6178
   
      <br>
      <h3>
        
        Population Data:
        
      </h3>
      - Zensus 2011 (children aged 1-6 years)
      <br>
      - Aggregated from 1sqm to 1 sqmk

  </mat-sidenav>

  <mat-sidenav-content>
    
      <app-map [amenities]="this.amenities"> </app-map>
  </mat-sidenav-content>
  
</mat-sidenav-container>
  
</div>
